@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import '../../global.scss';
.footer {
  height: inherit;
  margin: 0;
  padding: 0;
  font-family: 'Poppins' sans-serif;
  box-sizing: border-box;
  color: #d9d9d9;

  width: 100%;
  // height: 450px;
  background-color: #111;
  overflow: hidden;
  margin-bottom: 0;
}

.main-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: inherit;
  width: inherit;

  @include mobile {
    flex-direction: column;
    align-items: center;
  }
}
.left,
.center,
.right {
  flex-basis: 50%;
  padding: 10px 20px;
  @include mobile {
    padding: 5px 10px;
  }
}
.box h2 {
  font-size: 1.124rem;
  font-weight: 600;
  text-transform: uppercase;
  @include mobile {
    font-size: 1rem;
    font-weight: 300;
  }
}

.box .content {
  margin: 20px 0 0 0;
  @include mobile {
    margin: 3px 0 0 0;
  }
}
.left .content p {
  text-align: justify;
}
.left .content .social {
  margin: 20px 0 0 0;
  @include mobile {
    margin: 3px 0 0 0;
  }
}
.left .content .social a {
  padding: 0 2px;
}
.left .content .social a span {
  height: 40px;
  width: 40px;
  background-color: #1a1a1a;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
  @include mobile {
    height: 30px;
    width: 30px;
    margin-top: 20px;
  }
}
.left .content .social a span:hover {
  background-color: #f12020;
}
.email {
  display: flex;
  flex-direction: column;
}
.email > input {
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  color: #222;
  font-size: 0.7rem;
  outline: 0;
  padding: 0.7rem 1.5rem;
  @include mobile {
    margin-bottom: 2px;
  }
}
.msg {
  display: flex;
  flex-direction: column;
}
.msg > textarea {
  border-radius: 5px;
  outline: 0;
  @include mobile {
    padding: 0.9 rem 2rem;
  }
}
.social {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.place,
.phone,
.email {
  margin: 20px 0;
  @include mobile {
    margin: 5px 0;
  }
}
.left {
  @include mobile {
    flex-basis: 40%;
  }
}
.center {
  @include mobile {
    flex-basis: 0%;
    display: none;
  }
}
.right {
  @include mobile {
    flex-basis: 60%;
  }
}
