* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  overflow-x: hidden;
}
.link {
  color: red;
  font-weight: 500;
}
.cv {
  width: 70vw;
  margin: 0 40px;
}
/* .link {
  margin-top: -20px;
} */
